<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <% if (theme.social) { %>
            <% if (theme.social.twitter) { %>
              <li class="list-inline-item">
                <a href="https://twitter.com/<%= theme.social.twitter %>">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            <% } %>
            <% if (theme.social.facebook) { %>
              <li class="list-inline-item">
                <a href="https://facebook.com/<%= theme.social.facebook %>">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            <% } %>
            <% if (theme.social.linkedin) { %>
              <li class="list-inline-item">
                <a href="https://linkedin.com/in/<%= theme.social.linkedin %>">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            <% } %>
            <% if (theme.social.github) { %>
              <li class="list-inline-item">
                <a href="https://github.com/<%= theme.social.github %>">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            <% } %>
            <% if (theme.social.instagram) { %>
              <li class="list-inline-item">
                <a href="https://instagram.com/<%= theme.social.instagram %>">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            <% } %>
            <% if (theme.email) { %>
              <li class="list-inline-item">
                <a href="mailto:<%= theme.email %>">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            <% } %>
          <% } %>
        </ul>
        <% if (theme.footer && theme.footer.copyright) { %>
          <p class="copyright text-muted">
            Copyright &copy; <%= theme.author || config.author %> <%= theme.footer.since || new Date().getFullYear() %>
          </p>
        <% } %>
      </div>
    </div>
  </div>
</footer>